* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto Slab', serif;
  width: 100%;
  height: 100%;
  min-height: -webkit-fill-available;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  /*mobile viewport fix*/
  min-height: -webkit-fill-available;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: #eef4f7;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}

input {
  outline: none;
}
